[submodule "Kha"]
	path = Kha
	url = https://github.com/KTXSoftware/Kha.git
	branch = master
[submodule "Libraries/Zui"]
	path = Libraries/Zui
	url = https://github.com/luboslenco/zui.git
    branch = master
[submodule "Libraries/linc_enet"]
	path = Libraries/linc_enet
	url = https://github.com/snowkit/linc_enet.git
    branch = master
